<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEED-Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<div class="logo-container">
        <a href="{% url 'login' %}">
            <img src="{% static 'image/logo2.png' %}" alt="Weill Cornell Medicine Logo" height="50" />
        </a>
</div>
<body>
    <div class="register-container">
        <div class="register-form">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
