<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEED-Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<body>
    <div class="register-container">
        <div class="register-form">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
